div.container {
  display: inline-grid;
  padding: 0.5rem;
  gap: 0.3rem;

  > p {
    font-weight: bold;
  }
}

div.officerContainer {
  display: inline-grid;
  gap: 1rem;
  grid-template-columns: auto auto auto;
  > div {
    display: inline-grid;
    justify-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    span {
    }
    svg {
    }
  }
}

div.loading svg {
  opacity: 0.2;
}

div.notLoading svg {
  opacity: 1;
}
