div.container {
  display: inline-grid;
  padding: 0.5rem;
  gap: 0.3rem;

  h4 {
    margin: 0;
  }
}

div.singleLight {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  span {
    display: inline-grid;
    align-content: center;
    font-weight: lighter;
    font-size: smaller;
  }
  span.selected {
    font-weight: 900;
  }
  span.notSelected {
    font-weight: 100;
  }
  svg .selected {
  }
  svg .notSelected {
    opacity: 0.3;
  }
}
