div.container {
  display: inline-block;
}

.flag {
  height: 2.5em;
  padding: 0;
  margin: 0;
}

div.flag {
  background: #a2ceed;
  font-weight: bolder;
  display: inline-grid;
  place-items: center;
  width: 3.75rem;
}
