.container {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.2);
  width: CLAMP(10rem,15rem,15rem);
  font-size: 1rem;
  position: relative;
}

.container > pre {
  //background: rgba(0,0,0,0.2);
  padding: 0 0.5rem;
  width: CLAMP(5rem,10rem,10rem);
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.container > pre::-webkit-scrollbar {
  display: none;
}
.container > button {
  width: CLAMP(5rem,5rem,5rem);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}


input.invisibleInput{
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: inherit;
  user-focus: none;
  color: inherit;
  font-weight: inherit;
}

.popup{
  position: absolute;
  top: -1.5rem;
  width: inherit;
  text-align: center;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}
