.filterContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 100%;
}

.filterContainer > div {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
}


table.resultsTable {
  border: 3px solid lime;
}
