div.featureBrowserGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
  margin: 0 0;
}

div.featureBrowserGrid > a,
div.featureBrowserGrid > div {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
}

div.featureBrowserGrid > a:hover,
div.featureBrowserGrid > div:focus-within {
  background: rgba(255, 255, 255, 0.4);
}

div.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/-1;
  padding: 0;
}

div.searchBar > label {
  margin: 0 0.5rem;
}

.aboutCard {
  grid-column: 1/-1;
}

div.addressBlock {
  display: flex;
  flex-direction: column;
}

div.addressBlock p {
  margin: 0;
}
