div.featureBrowserGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
  margin: 1rem 0;
}

div.featureBrowserGrid > a,
div.featureBrowserGrid > div {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  /*border-radius: 0.25rem;*/
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
}

div.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-column: 1/-1;
}

div.searchBar > label {
  margin: 0 0.5rem;
}

.aboutCard {
  grid-column: 1/-1;
}
